body {
    color: white;
    background-color: dimgray;
}

.pageButton {
    background-color: rgb(0, 86, 166 );
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
}

.pageButton2 {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    float: right;
}

.logout {
    background-color: white;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    float: right;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    text-align:center;
}

.bodyHeader {
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 140px 30px 140px;
    border: solid rgb(52, 152, 219) 2px;
}

.pageContent {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 50%;
    max-width: 15%;
    height: 15%;
    object-fit: contain;
}

.buttonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tableCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gameCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
}

tr {
    border: 5px solid white;
    color: black;
}

td {
    border: 1px solid black;
    padding: 5px 5px;
    color: white;
}

.mainContent {
    background-color: rgba(0,0,0, 0.6);
    border-radius: 1px;
    border: solid rgb(52, 152, 219) 2px;
    padding: 25px;
    width: 65px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.masterBody {
    background-image: url(https://newevolutiondesigns.com/images/freebies/blue-wallpaper-22.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: fit;
    text-align: center;
    visibility: hidden;
    overflow-y: auto;
    width: 100%;
    height: 5%;
    visibility: visible;
    text-align: center
}

font {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Times New Roman", Georgia, Serif;
}

.headerImage
{
    width: 100px;
    height: 100px;
    float: left;
}